@import './_reset';

.App{
    display:grid;
    place-content: center;
    height: 100vh;
}
.error{
    color: hsl(1, 44%, 46%);
    background-color: hsl(0, 43%, 91%);
    border-radius: 6px;
    border: 1px solid transparent;
    padding: .7em .5em .5em;
}
.message{
    color: hsl(125, 44%, 46%);
    background-color: hsl(125, 43%, 91%);
    border-radius: 6px;
    border: 1px solid transparent;
    padding: .7em .5em .5em;
}
.formCon{
    border: 1px solid  hsl(0, 0%, 80%);
    padding: 1.5em 1em;
    width: 50vw;
    min-width: 350px;
    max-width: 400px;
    box-shadow: 0 3px 6px 3px hsl(0, 0%, 80%);
    display:flex;
    flex-direction:column;
    gap: .5em;
    background:white;
    border-radius: 4px;
    h2{
        margin-bottom: .5em;
    }
    .btn{
        border-radius: 5px;
        padding: .5em;
        background:hsl(219, 100%, 70%);
        color: white;
        cursor: pointer; 
        &-primary:hover{
            background:hsl(219, 100%, 60%);
        }
        &-secondary{
            align-self:center;
            background:hsl(110, 63%, 44%);
            &:hover{
                background:hsl(110, 63%, 40%);
            }
        }
    }
   
}

.form{
    display:flex;
    flex-direction: column;
    justify-content:center;
    gap:1em;
    
    input{
        border: 1px solid hsl(0, 0%, 80%);
        border-radius: 5px;
        padding: .5em;
        outline: none;
        &[type='submit']{
            background:hsl(219, 100%, 70%);
            color: white;
            cursor: pointer;
        }
    }
    
    
    &__section{
        display:flex;
        flex-direction: column;
        gap: .5em;
    }
}
